PORT=8000
DB_URL=mongodb://db:27017/multi_vendor_shop
JWT_SECRET_KEY=
JWT_EXPIRES=7d
ACTIVATION_SECRET=super_secret_string_123
SMPT_HOST= 
SMPT_MAIL= 
SMPT_PORT= 
SMPT_PASSWORD= 
SMPT_USER = 
STRIPE_API_KEY = 
STRIPE_SECRET_KEY = 
